.sticky {
	display: block;
}

.post,
.page {
	margin: 0 auto; // originally 1.5rem bottom
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

//News Posts
.post {
	padding: 1rem 2rem 4rem;
}

.post-img-text{
	align-items: center;
}

@media screen and (min-width: 30em) {
	.post-img-text{
		display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Two columns, each with a minimum width of 300px */
        gap: 20px;
	}
}
@media screen and (max-width: 30em) {
	.container {
		grid-template-columns: 1fr; /* One column layout */
	}
}
