// @import "abstracts/variables/breakpoints";
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 2rem .625rem;
	font-family: $font__heading; 
	clear: both;
	padding-top: 2rem;
}

h1 {
	@include responsive-heading(1.625rem, 2.125rem, 2.25rem);
}

h2 {
	@include responsive-heading(1.375rem, 1.75rem, 1.875rem);
}

h3 {
	@include responsive-heading(1.125rem, 1.375rem, 1.5rem);
}