.site-footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color__background-nav;

    .site-branding {
        margin: 0;
        
        a {
            border: 2px solid #000;
            border-radius: 1rem;
            background-color: $color__background-body;
            width: 7.5rem;
            height: 7.5rem;
        }
    }

    h3,
    p {
        padding-top: 0;
        @include text-color-dark();
    }

    a {
        @include link-colors-dark();
    }

    @include responsive-footer();
}

.menu-footer-menu-container {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

