.site-header{
	display: block;
	font-size: 1rem;
}

.main-navigation {
	display: block;
	width: 80%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: #000;
			color: #fff;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				color: #b9da93;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: palevioletred;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: 600;
		text-decoration: underline;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

.site-branding{
	margin: auto;
	text-align: center;
	width: fit-content;
}

.main-navigation ul {
	display: flex;
	margin-left: 7%;
	width: fit-content;
}

.nav-menu{
	color: #1e532a;
	font-size: 1rem;
}
.nav-menu li{
	padding: 0.6rem;
	text-align: center;
}
.nav-menu svg{
	width: 1.5rem;
}

.nav-menu .sub-menu li{
	padding:0;
}

@media screen and (min-width: 37.5em) {
	.site-header{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main-navigation{
		width: 70%;
	}
	.nav-menu{
		color: #1e532a;
		font-size: 1.3rem;
	}
	.nav-menu li{
		padding: 1rem;
		text-align: center;
	}
	.nav-menu svg{
		width: 3rem;
	}
	.main-navigation ul {
		margin: auto;
		display: flex;
		justify-content: flex-end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation,
.site-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.site-title,
.custom-logo-link{
	width: 100px;
	text-align: center;
}	