table {
	margin: 0 auto 1.5em;
	border: 1px solid #000;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;

	td:not(:first-child) {
		border-left: 1px solid #000;
	}
	
	thead tr {
		background-color: $color__background-nav;
		color: $color__text-main-dark-bg;
	}
	
	tbody {
		tr:nth-child(odd):not(thead tr) {
			background-color: $color__tr_first;
		}
		
		tr:nth-child(even) {
			background-color: $color__tr_second;
		}
	}

	@media screen and (min-width: $mq_breakpoint_large) {
		width: 48rem;
	}
}
