$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-nav: #262626;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #1d4425; //dark green
$color__link-visited: #532d5d; //aubergine
$color__link-hover: #702323; //crimson
$color__text-main: #404040;

//Alternate colors for dark backgrounds
$color__link-dark-bg: #b9da93; //lightgreen
$color__link-visited-dark-bg: #d5a3e0; //lilac
$color__link-hover-dark-bg: #f2c1bA; //light salmon
$color__text-main-dark-bg: #dadada;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
